<article class="media content-section">
  {% if post.anonymous %}
    <img class="rounded-circle article-img" src="/media/profile_pics/anonymous.png">
  {% else %}
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
  {% endif %}
  <div class="media-body full-block">
  <div class="full-block">
    <div class="article-metadata">
        {% if post.anonymous %}
            Anonymous User
        {% else %}
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        {% endif %}
      <small class="text-muted" style="float:right;">{{ post.date_posted|date:"F d, Y P" }}</small>
      {% if post.author == user and editable == True %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
      {% endif %}
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
  <div class="full-block small">
      <div class="">
          <a href="javascript:$('#div_tag_{{ post.id }}').show()">Add Tag</a>
      {% if post.tags.all %}
          <div class="margin-top-10">
          {% for t in post.tags.all %}
              <span id="tag_{{ post.id }}_{{ t.id }}" style="border: solid 1px grey;padding:0px 5px 0px 5px;" class="margin-right-20">
                {{ t.choice }} <a class="margin-left-5" href="javascript:delete_tag('{{ post.id }}', '{{ t.id }}', '{{ csrf_token }}')" title="Remove Tag">x</a>
              </span>
          {% endfor %}
          </div>
      {% endif %}
          <div id="div_tag_{{ post.id }}" class="display_False margin-top-10">
              <select id="tag_{{ post.id }}" class="margin-right-10">
                  <option value="#Financial">#Financial</option>
                  <option value="#Political">#Political</option>
                  <option value="#Religious">#Religious</option>
                  <option value="#Offensive">#Offensive</option>
                  <option value="#Funny">#Funny</option>
              </select>
              <a href="javascript:save_tag('{{ post.id }}', '{{ csrf_token }}')" class="margin-right-10">Save Tag</a>
              <a href="javascript:$('#div_tag_{{ post.id }}').hide()" class="margin-right-10">Cancel</a>
          </div>
      </div>
  </div>
  <div class="full-block small padding-top-10">
      <div class="float-left " style="font-weight: bold">Comments</div>
      {% if user.is_authenticated %}
      <div class="float-left " style="font-weight: bold;margin-left:20px;">
        <a id="subscribe_{{ post.id }}" class="display_{{ post.is_user_subscribed_not }}"  href="javascript:subscribeMe('{{ post.id }}', '{{ csrf_token }}')">Subscribe</a>
        <a id="unsubscribe_{{ post.id }}" class="display_{{ post.is_user_subscribed }}" href="javascript:unSubscribeMe('{{ post.id }}', '{{ csrf_token }}')">Unsubscribe</a>
      </div>

      <div class="float-right">
          <a href="{% url 'post-comment-create' post_id=post.id %}">Add Comment</a>
      </div>
      {% endif %}
  </div>
  <br>
  {% if post.comments.all  %}
    <div class="full-block padding-top-10">
      {% for comment in post.comments.all %}
        {% include 'blog/comment_detail.html' with comment=comment editable=True %}
      {% endfor %}
    </div>
  {% endif %}
  </div>

</article>
<script type="application/javascript">
    /*
    var tag_choices = null;

    $(document).ready(function () {
        if(tag_choices == null)
            fetch_tag_choices('{{ csrf_token }}');
        alert(tag_choices);
    });

    function fetch_tag_choices(csrfToken)
    {
        url = "/tags";
        //console.info('subscriptionUrl', subscriptionUrl);
        $.ajax({
            url: url,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken //django needs this
                  },
            timeout:0,
            success: function(data){
                tag_choices = data;
            }
        });
    }
    */

    function subscribeMe(postId, csrfToken)
    {
        url = "/post/" + postId +"/subscribe";
        //console.info('subscriptionUrl', subscriptionUrl);
        $.ajax({
            url: url,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                     data_item: {'post_id':postId}},
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#subscribe_' + postId).hide()
                    $('#unsubscribe_' + postId).show()
                }
            }
        });
    }

    function unSubscribeMe(postId, csrfToken)
    {
        url = "/post/" + postId +"/unsubscribe";
        $.ajax({
            url: url,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                     data_item: {'post_id':postId}},
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#subscribe_' + postId).show()
                    $('#unsubscribe_' + postId).hide()
                }
            }
        });
    }

    function save_tag(postId, csrfToken)
    {
        let selectedTagChoice = $('#tag_' + postId).val();
        let url = "/post/" + postId +"/tags/new";

        $.ajax({
            url: url,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                     data_item: {'choice':selectedTagChoice}},
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#div_tag_' + postId).hide()
                    location.reload();
                }
            }
        });
    }

    function delete_tag(postId, tagId, csrfToken)
    {
        let url = "/tags/" + tagId +"/delete";

        $.ajax({
            url: url,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                  },
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#tag_' + postId + '_' + tagId).hide()
                }
            }
        });
    }
</script>
