<article class="media content-section">
  {% if post.anonymous %}
    <img class="rounded-circle article-img" src="/media/profile_pics/anonymous.png">
  {% else %}
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
  {% endif %}
  <div class="media-body full-block">
  <div class="full-block">
    <div class="article-metadata">
        {% if post.anonymous %}
            Anonymous User
        {% else %}
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
        {% endif %}
      <small class="text-muted" style="float:right;">{{ post.date_posted|date:"F d, Y P" }}</small>
      {% if post.author == user and editable == True %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          </div>
      {% endif %}
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
  <div class="full-block small padding-top-10">
      <div class="float-left " style="font-weight: bold">Comments</div>
      {% if user.is_authenticated %}
      <div class="float-left " style="font-weight: bold;margin-left:20px;">
        <a id="subscribe_{{ post.id }}" href="javascript:subscribeMe('{{ post.id }}', '{{ csrf_token }}')">Subscribe</a>
        <a id="unsubscribe_{{ post.id }}" href="javascript:unSubscribeMe('{{ post.id }}', '{{ csrf_token }}')">Unsubscribe</a>
      </div>

{#      <div class="float-left" style="margin-left:10px;">#}
{#      xxx{% subscribed_to_users post user %}yyyy#}
{##}
{#      aaaa{{ post.is_user_subscribed }}bbbbbbbbb#}
{#        {% for s in post.subscriptions.all   %}#}
{#            {{s.user}}#}
{#        {% endfor %}#}
{#      </div>#}

      <div class="float-right">
          <a href="{% url 'post-comment-create' post_id=post.id %}">Add</a>
      </div>
      {% endif %}
  </div>
  <br>
  {% if post.comments.all  %}
    <div class="full-block padding-top-10">
      {% for comment in post.comments.all %}
        {% include 'blog/comment_detail.html' with comment=comment editable=True %}
      {% endfor %}
    </div>
  {% endif %}
  </div>

</article>
<script type="application/javascript">
    function subscribeMe(postId, csrfToken)
    {
        subscriptionUrl = "/post/" + postId +"/subscribe";
        //console.info('subscriptionUrl', subscriptionUrl);
        $.ajax({
            url: subscriptionUrl,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                     data_item: {'post_id':postId}},
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#subscribe_' + postId).hide()
                    $('#unsubscribe_' + postId).show()
                }
            }
        });
    }

    function unSubscribeMe(postId, csrfToken)
    {
        subscriptionUrl = "/post/" + postId +"/unsubscribe";

        $.ajax({
            url: subscriptionUrl,
            type: "POST",
            data: {  csrfmiddlewaretoken: csrfToken, //django needs this
                     data_item: {'post_id':postId}},
            timeout:0,
            success: function(data){
                if(data.result == true) {
                    $('#subscribe_' + postId).show()
                    $('#unsubscribe_' + postId).hide()
                }
            }
        });
    }
</script>
